<ion-header class="header-filter">
  <ion-grid style="width:88%;">
    <ion-row class="ion-align-items-center"	>
      <ion-col (click)="goBack()" size="1" style="text-align:end">
        <img src="../../assets/img/back.png" alt="" height="16px">
      </ion-col>
      <ion-col size="9" style="padding-left:10px;margin-bottom:3px;">
        <ion-text class="title">Perfil</ion-text>
      </ion-col>
      <!--ion-col size="2" style="text-align:right" (click)="filtro()" >
        <img src="../../assets/img/filtro.png" alt="" height="22px">
      </ion-col-->
    </ion-row>
  </ion-grid>
</ion-header>

<ion-content class="content">
  <ion-header class="content-red"></ion-header>
  <ion-header class="content_img">
    <img class="content_img-fbphoto" src="../../assets/img/perfil2.png" style="border-radius: 50%" alt="">
  </ion-header>
  <ion-header class="content_nombre">
    <ion-row>
      <ion-col>
        <div class="ion-text-center">
          <h3>{{usuario.nombre}} {{usuario.apepat}} {{usuario.apemat}}</h3>
        </div>   
      </ion-col>
    </ion-row>
  </ion-header>
    <ion-header class="content_correo">
      <ion-grid style="padding-left: 0;padding-right:0;">
        <ion-row>
          <ion-col size="12"  class="content_correo-background">
            Correo Electrónico
          </ion-col>
          <ion-col size="12" class="content_correo-text">
            <ion-input [(ngModel)]="usuario.correo" disabled></ion-input>
          </ion-col>
          <ion-col size="12" class="content_correo-background">
            Teléfono
          </ion-col>
          <ion-col size="12" class="content_correo-text">
            <ion-input [(ngModel)]="usuario.telefono" type="text" placeholder="Ingrese su teléfono." disabled></ion-input>
          </ion-col>
          <ion-col size="12" class="content_correo-background">
            DNI
          </ion-col>
          <ion-col size="12" class="content_correo-text">
            <ion-input type="text"  [(ngModel)]="usuario.dni" placeholder="Ingrese su DNI." disabled></ion-input>
          </ion-col>
          <ion-col size="12" class="content_btn">
            <ion-button class="content_btn-actualizar" [disabled]="true" (click)="actualizarDatos()">Actualizar</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-header>
</ion-content>
