ion-header::after {
    background-image: none;
}
.header-profile{
    background: #53a4d6;
    &_text{
        color:white;
        padding-top:2%;
        font-size: 18px;
    }
}
.menu-button{
    padding-top: 3% !important;
}
.content{
    --padding-bottom: 10%;
    &-red{
        height: 20vh;
        background: #53a4d6;
    }
    &_img{
        margin-top: -28%;
        height: 28vh;
        width: 50%;
        left: 25%;
        &-fbphoto{
            border-radius: 50%;
        }
    }
    &_nombre{
        text-align: center;
        font-family: GoogleSans-Medium;
        margin-top: 3%;
        font-size: 20px;
    }
    &_correo{
        margin-top:6%;
        text-align: center;
        &-background{
            background: #f2f2f2;
            color: #767676;
            padding:3% 0;
            font-size: 16px;
            margin-top: 9%;
        }
        &-text{
            font-size: 16px;
            padding:3% 0;
        }
    }
    &_btn{
        margin-top:6%;
        &-actualizar{
            --background: #53a4d6;
            color: white;
            text-transform: capitalize;
            font-size: 16px;
            border-radius: 8%;
            width: 85%;
        }
    }
}