.searchbar{
    font-size: 14px;
    --min-height:35px !important;
    --max-height:35px !important;
    --highlight-color-focused: none;
    --border-radius: 16px;
    --border:1px;
    &-label{
        font-size:14px;
        margin:0;
        padding-right: 10px;
    }
    &-text{
        //font-family: GoogleSans-Regular;
        font-size: 12px;
        --padding-start:2px;
        --padding-end:2px;
        --padding-top:2px;
        --padding-bottom:2px;
    }
}