<div class="opaco" *ngIf="loading">
  <div id="loading"></div>
</div>

<ion-header class="header-filter">
  <ion-grid style="width:88%;">
    <ion-row class="ion-align-items-center"	>
      <ion-col (click)="goBack()" size="1" style="text-align:end">
        <img src="../../assets/img/back.png" alt="" height="16px">
      </ion-col>
      <ion-col size="9" style="padding-left:10px;margin-bottom:3px;">
        <ion-text class="title">Notificaciones</ion-text>
      </ion-col>
      <!--ion-col size="2" style="text-align:right" (click)="filtro()" >
        <img src="../../assets/img/filtro.png" alt="" height="22px">
      </ion-col-->
    </ion-row>
  </ion-grid>
</ion-header>
<ion-content class="content">
  <ion-content class="content_bg">
    <ion-header class="content_bg-img">
        <ion-grid>
          <ion-row class="content-text">
            <ion-col size="8" style="font-size:16px;padding-bottom:0px;font-size:22;"><strong>Título</strong></ion-col>
            <ion-col size="4" style="padding-top:6px;font-size:16px;"><strong>Fecha</strong></ion-col>
            <!--ion-col size="3" style="padding-top:0px; font-size: 18px;font-family: GoogleSans-Medium;padding-left:8%;">{{cliente.direccion}}</ion-col>
            <ion-col size="3" class="content-text-total">{{cliente.correo}}</ion-col>
            <!ion-col size="6" class="content-text-precio">{{venta.total}}</ion-col-->
          </ion-row>
        </ion-grid>
      </ion-header>
    <ion-header class="content_bg-img" *ngFor="let notificacion of listaNotificaciones">
      <ion-grid>
        <ion-row class="content-text" (click)="verNotificacion(notificacion)">
          <ion-col size="8" style="font-size:16px;padding-bottom:0px;font-size:22;font-family: GoogleSans-Medium; ">{{notificacion.titulo}}</ion-col>
          <ion-col size="4" style="padding-top:6px;font-size:16px;font-family: GoogleSans-Medium;">{{notificacion.fecha_notificacion}}</ion-col>
          <!--ion-col size="3" style="padding-top:0px; font-size: 18px;font-family: GoogleSans-Medium;padding-left:8%;">{{cliente.direccion}}</ion-col>
          <ion-col size="3" class="content-text-total">{{cliente.correo}}</ion-col>
          <!ion-col size="6" class="content-text-precio">{{venta.total}}</ion-col-->
        </ion-row>
      </ion-grid>
    </ion-header>
  </ion-content>
</ion-content>