<ion-header class="header-filter">
  <ion-grid style="width:88%;">
    <ion-row class="ion-align-items-center"	>
      <ion-col (click)="goBack()" size="1" style="text-align:end">
        <img src="../../assets/img/back.png" alt="" height="16px">
      </ion-col>
      <ion-col size="9" style="padding-left:10px;margin-bottom:3px;">
        <ion-text class="title">Cambio de Contraseña</ion-text>
      </ion-col>
      <!--ion-col size="2" style="text-align:right" (click)="filtro()" >
        <img src="../../assets/img/filtro.png" alt="" height="22px">
      </ion-col-->
    </ion-row>
  </ion-grid>
</ion-header>