<ion-header translucent>
  <ion-toolbar>
    <ion-title>Datos de Actividad</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="content">
  <ion-content class="content_bg">
    <ion-header class="content_bg-img">
        <ion-grid>
          <ion-row class="content-text">
            <ion-col size="4" style="font-size:14px;padding-bottom:0px;"><strong>Título:</strong></ion-col>
            <ion-col size="8" style="padding-top:6px;font-size:14px;">{{notificacion.titulo}}</ion-col>
          </ion-row>
          <ion-row class="content-text">
            <ion-col size="4" style="font-size:14px;padding-bottom:0px;"><strong>Descripción:</strong></ion-col>
            <ion-col size="8" style="padding-top:6px;font-size:14px;">{{notificacion.descripcion}}</ion-col>
          </ion-row>
          <ion-row class="content-text">
            <ion-col size="4" style="font-size:14px;padding-bottom:0px;"><strong>Fecha:</strong></ion-col>
            <ion-col size="8" style="padding-top:6px;font-size:14px;">{{notificacion.fecha_notificacion}}</ion-col>
          </ion-row>
          <ion-row class="content-text">
            <ion-col size="4" style="font-size:14px;padding-bottom:0px;"><strong>Hora de Inicio:</strong></ion-col>
            <ion-col size="8" style="padding-top:6px;font-size:14px;">{{notificacion.hora_inicio}}</ion-col>
          </ion-row>
          <ion-row class="content-text">
            <ion-col size="4" style="font-size:14px;padding-bottom:0px;"><strong>Hora de Fin:</strong></ion-col>
            <ion-col size="8" style="padding-top:6px;font-size:14px;">{{notificacion.hora_fin}}</ion-col>
          </ion-row>  
        </ion-grid>
      </ion-header>
  </ion-content>
</ion-content>