<ion-app>
  <ion-header translucent>
    <ion-toolbar class="barnav">
      <ion-title>Datos de Cliente</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="dismissModal()">Cerrar</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content fullscreen>
    <ion-list>
      <ion-item class="content-text">
        <ion-label style="font-size:14px;padding-bottom:0px;"><strong>Nombre:</strong></ion-label>
        <ion-label style="padding-top:6px;font-size:14px;">{{cliente.nombre}}</ion-label>
      </ion-item>
      <ion-item class="content-text">
        <ion-label style="font-size:14px;padding-bottom:0px;"><strong>Apellidos:</strong></ion-label>
        <ion-label style="padding-top:6px;font-size:14px;">{{cliente.apellidos}}</ion-label>
      </ion-item>
      <ion-item class="content-text">
        <ion-label style="font-size:14px;padding-bottom:0px;"><strong>Teléfono:</strong></ion-label>
        <ion-label style="padding-top:6px;font-size:14px;">{{cliente.telefono}}</ion-label>
      </ion-item>
      <ion-item class="content-text">
        <ion-label style="font-size:14px;padding-bottom:0px;"><strong>Dirección:</strong></ion-label>
        <ion-label style="padding-top:6px;font-size:14px;">{{cliente.direccion}}</ion-label>
      </ion-item>
      <ion-item class="content-text">
        <ion-label style="font-size:14px;padding-bottom:0px;"><strong>Correo:</strong></ion-label>
        <ion-label style="padding-top:6px;font-size:14px;">{{cliente.correo}}</ion-label>
      </ion-item>  
    </ion-list>
  </ion-content>
</ion-app>
