<div class="opaco" *ngIf="loading">
  <div id="loading"></div>
</div>


<ion-header translucent>
  <ion-toolbar class="barnav">
    <ion-title>Datos de Contrato</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
    <ion-list>
      <ion-item class="content-text">
        <ion-label style="font-size:14px;padding-bottom:0px;"><strong>Fecha de Contrato:</strong></ion-label>
        <ion-label style="padding-top:6px;font-size:14px;">{{contrato.fecha}}</ion-label>
      </ion-item>
      <ion-item class="content-text">
        <ion-label style="font-size:14px;padding-bottom:0px;"><strong>Días de Entrega:</strong></ion-label>
        <ion-label style="padding-top:6px;font-size:14px;">{{contrato.dias_entrega}}</ion-label>
      </ion-item>
      <ion-item class="content-text">
        <ion-label style="font-size:14px;padding-bottom:0px;"><strong>Condición de Pago:</strong></ion-label>
        <ion-label style="padding-top:6px;font-size:14px;">{{contrato.condicion_pago}}%</ion-label>
      </ion-item>
      <ion-item class="content-text">
        <ion-label style="font-size:14px;padding-bottom:0px;"><strong>Cliente:</strong></ion-label>
        <ion-label style="padding-top:6px;font-size:14px;">{{contrato.nombres}} {{contrato.apellidos}}</ion-label>
      </ion-item>
      <ion-item class="content-text">
        <ion-label style="font-size:14px;padding-bottom:0px;"><strong>Teléfono:</strong></ion-label>
        <ion-label style="padding-top:6px;font-size:14px;">{{contrato.telefono}}</ion-label>
      </ion-item>  
      <ion-item class="content-text">
        <ion-label style="font-size:16px;padding-bottom:0px;font-size:22;"><strong>Dirección:</strong></ion-label>
        <ion-label style="padding-top:6px;font-size:16px;">{{contrato.direccion}}</ion-label>
      </ion-item> 
      <ion-item class="content-text">
        <ion-label style="font-size:16px;padding-bottom:0px;font-size:22;"><strong>Correo:</strong></ion-label>
        <ion-label style="padding-top:6px;font-size:16px;">{{contrato.correo}}</ion-label>
      </ion-item> 
    </ion-list>
</ion-content>