<div class="opaco" *ngIf="loading">
  <div id="loading"></div>
</div>

<ion-app>
  <ion-header class="header-filter">
    <ion-grid style="padding:2px 0;">
      <ion-row class="ion-align-items-center"	>
        <ion-col (click)="goBack()" size="2">
          <ion-header text-center>
              <img class="btn-menu" src="../../assets/img/back.png" height="14px">
          </ion-header>
        </ion-col>
        <ion-col size="8">
            <ion-item class="searchbar">
              <ion-label class="searchbar-label"><img style="margin-top:3px;" src="../../assets/img/buscar.png" height="15px" alt=""></ion-label>
              <ion-input class="searchbar-text" placeholder="Búsqueda de cliente" (keyup)="search($event.target.value)"></ion-input>
            </ion-item>
        </ion-col>
        <ion-col (click)="goFilter()" size="2">
          <ion-header text-center>
            <img class="btn-menu" src="../../assets/img/filtro.png" height="20px">
          </ion-header>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-header>

  <ion-content fullscreen>
    <ion-list>
      <!--ion-list-header>
        Recent Conversations
      </ion-list-header-->

      <ion-item  *ngFor="let cliente of listaClientes" (click)="verCliente(cliente)">
        <!--ion-avatar slot="start">
          <img src="./avatar-finn.png">
        </ion-avatar-->
        <ion-label>
          <h2>{{cliente.nombres}} {{cliente.apellidos}}</h2>
          <h3>Teléfono: {{cliente.telefono}}</h3>
          <p>Correo: {{cliente.correo}}</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-app>