<div class="opaco" *ngIf="loading">
  <div id="loading"></div>
</div>

<ion-menu class="menu-agenda" side="start" menuId="menu">
  <ion-header class="menu-agenda-header">
    <ion-item lines=full >
      <img class="menu-agenda-header-img" src="../../assets/img/avatar.png" alt="">
      <ion-grid class="menu-agenda-header_content">
        <ion-row>
          <ion-col size="12" class="menu-agenda-header_content-name" style="text-transform: capitalize">Tecnimuebles A1</ion-col>
          <ion-col size="12" class="menu-agenda-header_content-text"  >AppAgenda</ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-header>
  <ion-content class="menu-agenda_content">
      <ion-list>
          <ion-item (click)="goPerfil()" class="menu-agenda_content_item " ><img class="menu-agenda_content_item-img" src="../../assets/img/perfil.png" alt="">Perfil</ion-item>
          <ion-item (click)="closeMenu()" class="menu-agenda_content_item" ><img class="menu-agenda_content_item-img" src="../../assets/img/agenda.png" alt="">Agenda</ion-item>
          <ion-item (click)="goClientes()" class="menu-agenda_content_item" ><img class="menu-agenda_content_item-img" src="../../assets/img/perfil.png" alt="">Clientes</ion-item>
          <ion-item (click)="goContratos()" class="menu-agenda_content_item" ><img class="menu-agenda_content_item-img" src="../../assets/img/contrato.png" alt="">Contratos</ion-item>
          <ion-item (click)="goNotificaciones()" class="menu-agenda_content_item" ><img class="menu-agenda_content_item-img" src="../../assets/img/notificacion.png" alt="">Notificaciones</ion-item>
          <ion-item (click)="goCambioPassword()" class="menu-agenda_content_item" ><img class="menu-agenda_content_item-img" src="../../assets/img/cambio-password.png" alt="">Cambiar contraseña</ion-item>
          <ion-item (click)="closeSession()" class="menu-agenda_content_item" ><img class="menu-agenda_content_item-img" src="../../assets/img/salir.png" alt="">Salir</ion-item>
      </ion-list>
  </ion-content>
</ion-menu>
<ion-router-outlet main></ion-router-outlet>

<ion-content id="content">
  <ion-content class="content">
    <ion-header class="menu-agenda-header">
      <ion-grid>
        <ion-row>
          <ion-col class="menu-button" (click)="openMenu()" size="2" >
            <ion-header text-center>
              <img class="sandmenu" src="../../assets/img/menu.png">
            </ion-header>
          </ion-col>
          <ion-col size="10">
            <ion-toolbar color="primary">
                <ion-title>
                {{ viewTitle }}
              </ion-title>
              <ion-buttons slot="end">
                <ion-button class="xd" (click)="today()">Hoy</ion-button>
              </ion-buttons>
            </ion-toolbar>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-header>
     
    <ion-content>
     
      <!-- Card for adding a new event -->
      <ion-card>
        <ion-card-header tappable (click)="collapseCard = !collapseCard">
          <ion-card-title>Nuevo Evento</ion-card-title>
        </ion-card-header>
        <ion-card-content *ngIf="!collapseCard">
     
          <ion-item>
            <ion-input type="text" placeholder="Título" [(ngModel)]="event.title"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input type="text" placeholder="Descripción" [(ngModel)]="event.desc"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Inicio</ion-label>
            <ion-datetime displayFormat="MM/DD/YYYY HH:mm" pickerFormat="MMM D:HH:mm" [(ngModel)]="event.startTime" [min]="minDate"></ion-datetime>
          </ion-item>
          <ion-item>
            <ion-label>Fin</ion-label>
            <ion-datetime displayFormat="MM/DD/YYYY HH:mm" pickerFormat="MMM D:HH:mm" [(ngModel)]="event.endTime" [min]="minDate"></ion-datetime>
          </ion-item>
          <ion-item>
            <ion-label>Todo el Día?</ion-label>
            <ion-checkbox [(ngModel)]="event.allDay"></ion-checkbox>
          </ion-item>
          <ion-button fill="outline" expand="block" (click)="addEvent()" *ngIf="event.id_actividad == 0" [disabled]="event.title == ''">Agregar Evento</ion-button>
          <ion-button fill="outline" expand="block" (click)="addEvent()" *ngIf="event.id_actividad != 0" [disabled]="event.title == ''">Guardar</ion-button>
     
        </ion-card-content>
      </ion-card>
     
      <ion-row>
        <!-- Change the displayed calendar mode -->
        <ion-col size="4">
          <ion-button expand="block" [color]="calendar.mode == 'month' ? 'primary' : 'secondary'" (click)="changeMode('month')">Mes</ion-button>
        </ion-col>
        <ion-col size="4">
          <ion-button expand="block" [color]="calendar.mode == 'week' ? 'primary' : 'secondary'" (click)="changeMode('week')">Semana</ion-button>
        </ion-col>
        <ion-col size="4">
          <ion-button expand="block" [color]="calendar.mode == 'day' ? 'primary' : 'secondary'" (click)="changeMode('day')">Día</ion-button>
        </ion-col>
     
        <!-- Move back one screen of the slides -->
        <ion-col size="6" text-left>
          <ion-button fill="clear" (click)="back()">
            <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
          </ion-button>
        </ion-col>
     
        <!-- Move forward one screen of the slides -->
        <ion-col size="6" text-right>
          <ion-button fill="clear" (click)="next()">
            <ion-icon name="arrow-forward" slot="icon-only"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
     
      <calendar 
      [eventSource]="eventSource" 
      [calendarMode]="calendar.mode" 
      [currentDate]="calendar.currentDate"
      (onEventSelected)="onEventSelected($event)"
      (onTitleChanged)="onViewTitleChanged($event)"
      (onTimeSelected)="onTimeSelected($event)" 
      startHour="6"
      endHour="20"
      step="30"
      startingDayWeek="1"
      allDayLabel="Todo el día">
      
      </calendar>
     
    </ion-content>
    
  </ion-content>














  <!--ion-content class="content">
    <ion-header class="home_title">{{itinerario.nombre}}<ion-text class="home_title-sub">{{itinerario.hora_start}}</ion-text></ion-header>
    <ion-header *ngIf="flag_asignados" class="home_time-title">Próxima salida en:</ion-header>
    <ion-header *ngIf="flag_asignados" class="home_time">
      <ion-grid>
        <ion-row>
          <ion-col *ngIf="itinerario.dias_restantes===0" class="home_time-hora" size="12">
            <span class="span-horas" *ngIf="itinerario.horas<=9">0</span>{{itinerario.horas}}:<span class="span-horas" *ngIf="itinerario.minutos<=9">0</span>{{itinerario.minutos}}:<span class="span-horas" *ngIf="itinerario.segundos<=9">0</span>{{itinerario.segundos}}
          </ion-col>
          <ion-col *ngIf="itinerario.dias_restantes!==0" class="home_time-diasrestantes" size="12">
            {{itinerario.dias_restantes}} días restante(s).
          </ion-col>
          <ion-col class="home_time-fecha" size="12">
            {{itinerario.dia}}, {{itinerario.nro_dia}} {{itinerario.mes}} {{itinerario.year}}
          </ion-col>
          <ion-col class="home_time-asientos" size="6">
            {{itinerario.asientos_disponibles}}
          </ion-col>
          <ion-col class="home_time_asientosimg" size="6">
            <img class="home_time_asientosimg-img" src="../../assets/img/asiento.png" alt="">
          </ion-col>
          <ion-col class="home_time-free" size="12">
            Libres
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-header>
    <ion-header *ngIf="!flag_asignados" class="no-asignados">
      Por favor contacte con el administrador para asignar su próximo viaje.
    </ion-header>
    <ion-header class="home_buttonstart" >
      <img class="home_buttonstart-disabled" id="disabled" src="../../assets/img/start-disabled.png" alt="">
      <img (click)="startButton()" class="home_buttonstart-enabled" id="enabled" src="../../assets/img/start-enabled.png" alt="">
    </ion-header>
  </ion-content-->
</ion-content>