ion-header::after {
    background-image: none;
}
ion-footer::before{
    background-image: none;
}
#content{
    --background:#3880ff;
}
.content{
    height: 90vh;
    text-align: center;
    --background: none;
}
.sandmenu{
    height: 16px;
}
.menu-agenda{
    --width:75%;
    &-header{
        &-img{
            height: 90px;
            margin: 16px 0 16px 0;
        }
        &_content{
            margin-left: 5%;
            margin-top: -5%;
            &-text{
                color: #9b9b9b;
            }
            &-name{
                color:#505050;
                font-size: 25px;
            }
        }
    }
    &_content{
        &_item{
            color:#505050;
            --inner-padding-bottom:10%;
            --inner-padding-top:10%;
            --padding-start:28px;
            &-img{
                height: 20px;
                margin:0 16px 0 0;
            }
            &_contacto{
                padding:0;
                &_main{
                    padding: 0;
                    &-img{
                        height: 20px;
                        margin:0 16px 0 0;
                    }
                    &-secondary-img{
                        height: 16px;
                    }
                    &-secondary-img2{
                        height: 22px;
                    }
                }
                &_secondary{
                    padding: 0;
                    margin-top: 4px;
                }
                &-maintext{
                    padding:3px 5px 5px 10px;
                }
            }
        }
        &_submenu{
            --inner-padding-top:10%;
            --inner-padding-bottom:6%;
            --padding-start:28px;
        }
    }
}
.submenu-grid{
    margin-left:8%;
}
.menu-button{
   margin-top: 5.5%;
}
.home{
    &_title{
        text-transform: capitalize;
        color: #53a4d6;
        width: 80%;
        margin: 8% auto;
        border-radius: 5px;
        border: solid 2px white;
        padding:1.5%;
        font-size: 22px;
        &-sub{
            text-transform: lowercase;
            margin-left: 2%;
            font-size: 13px;
        }
    }
    &_time{
        height: 38vh;
        width: 68%;
        border-radius: 50%;
        margin: 5% auto;
        border: solid 1px white;
        &-title{
            margin-top: 10%;
            color:white;
            font-size: 22px;
        }
        &-hora{
            margin-top: 26%;
            font-size: 52px;
            color: white;
            font-family: Roboto;
            font-weight: 300;
        }
        &-diasrestantes{
            margin-top: 26%;
            font-size: 22px;
            font-family: Roboto;
            font-weight: 300;
            color: white;
        }
        &-fecha{
            font-family: Roboto;
            font-weight: 400;
            font-size: 14px;
            color:white;
            text-transform: capitalize;
        }
        &-asientos{
            font-family: Roboto;
            font-weight: 400;
            text-align: right;
            font-size: 26px;
            color:white;
            padding-bottom: 0;
        }
        &_asientosimg{
            text-align: left;
            padding-top:8px;
            padding-bottom: 0;
            padding-left: 0;
            &-img{
                height: 26px;
            }
        }
        &-free{
            padding-top:0;
            font-family: Roboto;
            color: white;
            font-size: 20px;
            font-weight: 300;
        }
    }
    &_buttonstart{
        margin-top:10%;
        &-disabled{
            height: 18vh;
        }
        &-enabled{
            height: 18vh;
            display: none;
        }
    }
}
.span-horas{
    font-family: Roboto;
    font-weight: 300;
}
.no-asignados{
    width: 70%;
    margin: auto;
    color: white;
    margin-top: 20%;
    font-family: Roboto;
    font-size: 25px;
    margin-bottom: 24%;
}
@media(max-width:315px){
    .home_time{
        height: 33vh;
        width: 68%;
        margin-top: 10%;
        &-hora{
            font-size:36px;
            margin-top: 22%;
        }
        &-fecha{
            font-size: 14px;
        }
        &-asientos{
            font-size: 22px;
        }
        &_asientosimg-img{
            height: 20px;
        }
        &-free{
            font-size: 18px;
        }
    }
}
@media(min-width:316px) and (max-width:340px) and (min-height:521px) and (max-height:570px) {
    .home_time{
        height: 34vh;
        width: 60%;
        &-hora{
            margin-top: 15%;
            font-size:38px;
        }
        &-fecha{
            font-size: 14px;
        }
        &-asientos{
            font-size:18px;
        }
        &_asientosimg-img{
            height: 16px;
        }
        &-free{
            font-size: 16px;
        }
    }
    .home_buttonstart-disabled{
        height: 20vh;
    }
    .home_buttonstart-enabled{
        height: 20vh;
    }
}
@media(min-width:316px) and (max-width:340px) and (min-height:440px) and (max-height:520px) {
    .home_title{
        font-size: 20px;
        margin-top:4%;
    }
    .home_time{
        height: 38vh;
        width: 56%;
        &-title{
            margin-bottom: 8%;
            font-size: 20px;
            margin-top: 8%;
        }
        &-hora{
            margin-top: 15%;
            font-size:34px;
        }
        &-fecha{
            font-size: 12px;
        }
        &-asientos{
            font-size: 17px;
        }
        &_asientosimg-img{
            height: 15px;
        }
        &-free{
            font-size: 15px;
        }
    }
    .home_buttonstart{
        margin-top: 6%;
        &-disabled{
            height: 18vh;
        }
        &-enabled{
            height: 18vh;
        }
    }
}
@media(min-width:316px) and (max-width:340px) and (min-height:420px) and (max-height:439px) {
    .home_title{
        margin:0 auto;
        font-size: 18px;
    }
    .home_time{
        height: 40vh;
        width: 54%;
        &-title{
            margin-top: 4%;
            font-size: 18px;
        }
        &-hora{
            margin-top: 12%;
            font-size: 32px;
        }
        &-fecha{
            font-size: 12px;
        }
        &-asientos{
            font-size: 18px;
        }
        &_asientosimg-img{
            height: 15px;
        }
        &-free{
            font-size: 16px;
        }
    }
    .home_buttonstart{
        margin-top: 4%;
        &-enabled{
            height: 22vh;
        }
        &-disabled{
            height: 22vh;
        }
    }
}
@media(min-width:341px) and (max-width:400px) and (min-height:680px){
    .home_time{
        height: 35vh;
        &-hora{
            margin-top: 20%;
        }
    }
    .home_buttonstart{
        &-enabled{
            height: 20vh;
        }
        &-disabled{
            height: 20vh;
        }
    }
}
@media(min-width:341px) and (max-width:400px) and (min-height:400px) and (max-height:679px){
    .home_time{
        height: 35vh;
        width: 62%;
        &-hora{
            margin-top: 20%;
            font-size: 42px;
        }
        &-asientos{
            font-size: 20px;
        }
        &_asientosimg-img{
            height: 18px;
        }
        &-free{
            font-size: 18px;
        }
    }
    .home_buttonstart{
        &-enabled{
            height: 20vh;
        }
        &-disabled{
            height: 20vh;
        }
    }
}
@media(min-width:341px) and (max-width:400px) and (min-height:801px) and (max-height:900px){
    .home_time{
        height: 32vh;
    }
}
@media(min-width:401px) and (max-width:450px) and (min-height:680px) and (max-height:800px){
    .home_time{
        &-hora{
            margin-top: 22%;
        }
    }
}
@media(min-width:401px) and (max-width:450px) and (min-height:801px) and (max-height:820px){
    .home_time{
        height: 34vh;
        width: 65%;
        &-hora{
            margin-top: 18%;
        }
    }
}
@media (min-width:401px) and (max-width:450px) and (min-height:821px) and (max-height:840px){
    .home_time{
        height: 34vh;
        width: 65%;
        &-hora{
            margin-top: 22%;
        }
    }
}
@media (min-width:451px) and (max-width:500px){
    .home_time{
        height: 34vh;
        width: 60%;
        &-hora{
            margin-top: 22%;
        }
    }
    .home_buttonstart{
        &-disabled{
            height: 20vh;
        }
        &-enabled{
            height: 20vh;
        }
    }
}

th{
    background: red;
}

.th{
    background: red
}
.calendar-event-wrap{
    background: red;
}

table{
    background: red
}

.xd{
    font-size: 20px;
}
.text-muted{
    background: blue;
}
.barnav{
    background: #53a4d6;
}
